<header class="jumbotron">
  <section class="text-center">
    <h1>New Article</h1>
  </section>
</header>

<footer class=" bottom-controls">
  <%= link_to "Return to Articles", articles_path, class: "btn btn-primary btn-lg" %>
</footer>
