html, body {
  position:sticky;
  margin: 0;
  padding: 0;
  height: 99%;
}
.txt-lg {
    font-size: 1.5em;
}

.bottom-controls {
  float: center;
  margin: auto;
  position: sticky;
  top: 90%;
  text-align: center;
}

.height-twenty {
  min-height: 200px;
}


.height-max {
  min-height: 100%;
}

.jumbotron {

}
